.container {
  padding: 1.6rem 0;
  .table {
    font-size: 1.6rem;
  }
  .TableRow {
    font-size: 2rem !important;
    font-weight: 600;
  }
}
.noData {
  width: 100%;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 600;
  margin: 2.2rem;
}
