.App {
  box-sizing: border-box;
  font-size: 1.6rem;
}

.header {
  display: flex;
  padding: 1.6rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.1rem solid #E5E4E2;
}

.typographyClass {
  font-size: 2rem;
}
